.woo.button {
    background-color: #96588a;
    color: #fff;
    border-color: #3c3c3c;
    float: left;
    margin: 1em;
}

ul.wizard-hat li { 
    width: 100%;
    float: left;
}

div.gh-token input {
    width: 75%;
    height: 50px;
}
div.gh-token svg {
    width: 40px;
    height: 45px;
    position: absolute;
    right: 24%;
}

div#wootertiarynav ul {
    width: auto;
}

#list li {
    list-style: disc;
}

.woo p {
    width: 100%;
    float: left;
    margin: 1em;
    padding: auto;
}


html.Theme__Dark .PasswordToggleInput:focus, .PasswordToggleInput:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #51bb7b;
    border-color: transparent;
}

html.Theme__Dark .PasswordToggleInput {
    box-shadow: 0 0 0 1px #5d5e5e;
    background-color: #262727;
}

html.Theme__Dark .css-1s2u09g-control, html.Theme__Dark  .css-1pahdxg-control, html.Theme__Dark #react-select-2-listbox {
    background-color: #262727;
}